body{
    background-color: bisque;
}
header{
    float: inline-start;
    background-color: #646464;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

/*EXO 1*/
.block1 {
    background-color: skyblue;
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
    
}
    
.block2 {
    
    margin-left: 20px;
    height: 400px;
    width: auto;
    
    background-color: none;
    float: right;
    
}
    
.block3 {
    
    margin-left: 20px;
    height: 180px;
    width: 150px;
    
    background-color: orangered;
    clear: both;
}
footer {
    position: fixed;
    bottom:0;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
footer a {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}