body {
    font-family: Arial, sans-serif; /* Police d'écriture */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Couleur de fond légèrement grise */
    font-size: 16px; /* Taille de police uniforme */
}
.cv {
    max-width: 780px; /* Largeur du conteneur */
    margin: auto; /* Centrer le conteneur */
    padding: 20px;
    background-color: #ffffff; /* Couleur de fond blanche */
    border: 5px solid #3388CC; /* Bordure de 5px de couleur #3388CC */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre noire */
}
header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
header a {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.en_tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.info {
    width: 70%;
    padding: 10px;
}

.img {
    padding: 10px;
    max-width: auto;
    height:150px; 
}

.section {
    margin-top: 20px;
    padding: 10px;
}

h2 {
    background-color: lightgray;
    padding: 5px;
}

.formation, .experience, .competences, .autres_experiences {
    padding: 10px;
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    body {
        font-family: Arial, sans-serif; /* Police d'écriture */
        margin: 0;
        padding: 0;
        background-color: #f4f4f4; /* Couleur de fond légèrement grise */
        font-size: 16px; /* Taille de police uniforme */
    }
    .cv {
        max-width: 780px; /* Largeur du conteneur */
        margin: auto; /* Centrer le conteneur */
        padding: 20px;
        background-color: #ffffff; /* Couleur de fond blanche */
        border: 5px solid #3388CC; /* Bordure de 5px de couleur #3388CC */
        border-radius: 10px; /* Coins arrondis */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre noire */
    }
    header {
        background-color: #000000;
        color: white;
        text-align: center;
        padding: 10px;
        width: 100%;
    }
    header a {
        background-color: #000000;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }
    
    .en_tete {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
    }
    
    .info {
        width: 70%;
        padding: 10px;
    }
    
    .img {
        padding: 10px;
        width: auto;
        height:150px; 
    }
    
    .section {
        margin-top: 20px;
        padding: 10px;
    }
    
    h2 {
        background-color: lightgray;
        padding: 5px;
    }
    
    .formation, .experience, .competences, .autres_experiences {
        padding: 10px;
        margin-top: 10px;
    }

}